* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
}


header {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 40px 0;
}


section {
    padding: 40px 0;
}

.sobre {
    background-color: white;
}

.servicos {
    background-color: #e5e7eb;
}

.contato {
    background-color: white;
}


.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    flex: 1;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px;
}